body{
    background-color: cornflowerblue;
}
div{
    height: 740px;
    width: 360px;
    background-color: aliceblue;
    margin: auto;
    flex-direction: column;
    display: flex;
}
button{
    height: 100px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}
h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
input{
    height: 90px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}
span{
    height: 400px;
    width: 200px;
    background-color: rgb(200, 202, 202);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    display: flex;
    font-family: cursive;
    border: 90px;
}
a{color: rgb(0, 0, 0);font-size: 15px;}
a:link{text-decoration: none;}
a:hover{color: blueviolet;}